.mobile{
position: absolute;
height: 100vh;
right: 0;
width: 40vw;
background-color: white;
top:0;
padding: 20px;

}
.back-icon{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding: 7px;
}

.mobile-option,.mobile-options{
    padding: 15px;
}

.mobile-options{

    padding-top: 50px;

}

.mobile-option a {


    text-decoration: none;
    color: #111;
    font-size: 24px;
    font-weight:500 ;
}
