.coding-img{

    width: 350px;
    height: 350px;
   

}
.about-main{

    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;

}

.about-img{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.about-info{

    font-size: 23px;
    padding: 20px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;

}




@media  only  screen and (max-width:520px){

    .coding-img{

        width: 250px;
        height: 250px;
       
    
    }

}

@media  only  screen and (max-width:720px){

    .coding-img{

        width: 250px;
        height: 250px;
       
    
    }

    .about-main{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
    }


    
}